.pagina {
  margin: 0px;
  width: 100%;
}

bloo{
  display: flex;
}
.bot {
  background-color: black;
  border: solid 2px #bd00ff;
  text-align: center;
  padding: 10px;
  margin: 10px;
  float: right;
}

.tita h2 {
  margin: 10px;
}