
.manga {
  background-color: black;
  

}

.titu {
  display: flex;
  margin:15px;
  
  
}

.geral .capa{
  width:130px;
  justify-content: center;
  align-items:center;
  border: solid 1.5px #BD00FF;
  border-radius: 7px;
  
}

/* Seu arquivo de estilo .css */
.botao-redondo {
  background-color: black; /* Cor de fundo */
  border: solid 1px #bd00ff; /* Remova a borda */
  border-radius: 50%; /* Torna o botão redondo */
  width: 40px; /* Largura */
  height: 40px; /* Altura */
  cursor: pointer; /* Altera o cursor ao passar o mouse */
  font-size: 20px; /* Tamanho do ícone */
  display: flex; /* Alinha o ícone verticalmente no centro */
  justify-content: center; /* Alinha o ícone horizontalmente no centro */
  align-items: center; /* Alinha o ícone verticalmente no centro */
  color: #bd00ff;
  
}
.b{
  margin: 10px;
}
.botao-redondo:hover {
  background-color: black; /* Cor de fundo ao passar o mouse */
  color: #bd00ff;
}

.botao-redondo i {
  color: #bd00ff; /* Cor do ícone */
  
}


.geral h3 {
  margin: 10px;
}

a:visited {
  color: #bd00ff;
}

a.page-scroll:visited {
  color: #bd00ff;
}

.tex {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border: solid 1px #bd00ff;
  margin: 15px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.comentar {
  margin-top: 50px;
}

hr {
  color: #bd00ff;
}

.bloco {
  display: block;
  
}

DisqusEmbed {
  margin: 20px;
}

.bloco p{
  margin-top:6px;
  margin: 10px;
  font-size: 9px;
}

.tags {
  display: flex;
  margin: 10px;
  overflow-x: auto; /* Adicione esta propriedade para habilitar a rolagem horizontal */
}

.tags h4 {
  background-color: #bd00ff;
  margin: 5px;
  border-radius: 4px;
}


.videoSection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Adicione essa propriedade para ocupar toda a largura */
  bottom: 0; /* Adicione essa propriedade para ocupar toda a altura */
  background-color: rgba(26, 26, 26, 0.9);
  display: flex;
  justify-content: center; /* Centralize horizontalmente */
  align-items: center; /* Centralize verticalmente */
}

.video {
  width: 100%;
  height: 80%;
}

.closeButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 14px;
  border-radius: 7px;
  border: splid 1px #bd00ff; /* Cor dourada */
  background-color: #bd00ff; /* Cor de fundo preta */
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.closeButton:hover {
  color: #f2c200; /* Cor dourada mais clara */
  background-color: #1a1a1a; /* Cor de fundo preta mais clara */
  position: fixed;
  }